@model List<Banhang.Models.DanhMuc>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    int tt = 1;
}

<h2>Loại sản phẩm</h2>

<p>
    @Html.ActionLink(" Thêm mới", "Create", null, new { @class = "btn btn-primary fa fa-plus" })
</p>
<table class="table table-bordered table-striped" id="dataTable">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Tên Loại
            </th>
            <th>
               Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(tt++)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tendm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trangthai)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-warning fa fa-pencil" })
                    @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "btn btn-primary fa fa-eye" })
                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-danger fa fa-trash", @Onclick = "return confirm('Bạn có muốn xoá không?')" })
                </td>
            </tr>

        }
    </tbody>

</table>
@section scripts{
    <script src="/admin/vendors/datatables/jquery.dataTables.min.js"></script>
    <script src="/admin/vendors/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/admin/js/demo/datatables-demo.js"></script>

}

